@import 'vars';

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: @baseFontSize;
  background-color: #ffffff;
}

body {
  font-family: @baseFontFamily;
  color: @baseColor;
}

.react-app {
  height: 100%;
  width: 100%;
}

@media print {
  html {
    -webkit-filter: invert(100%);
    filter: invert(1);
  }
}